<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17224229249-uo042k946sfl2k18jmqldvt2e5bhpcg7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17224229249-uo042k946sfl2k18jmqldvt2e5bhpcg7</string>
	<key>API_KEY</key>
	<string>AIzaSyDBgLd3yO6hUkII4HXK_MPzyo1KMQBx72I</string>
	<key>GCM_SENDER_ID</key>
	<string>17224229249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Broadfoot.LoginSample</string>
	<key>PROJECT_ID</key>
	<string>loginsample-cf7e4</string>
	<key>STORAGE_BUCKET</key>
	<string>loginsample-cf7e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17224229249:ios:90cd17e26f0b752e</string>
	<key>DATABASE_URL</key>
	<string>https://loginsample-cf7e4.firebaseio.com</string>
</dict>
</plist>